#board {
/*  outline: 1px solid black;*/
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
/*  border-color: black;
  border-style: solid;
  border-width: 1px;*/
}

.row {
/*  width:286px;*/
  height:20px;
  outline: 1px solid black;
  display: flex;
  max-width: 260px;  
/*  border-color: black;
  border-style: solid;
  border-width: 1px;*/
/*  float: left;*/
}

.row-empty {
  height:20px;
  outline: none;
  display: flex;
  max-width: 260px;  
}

.cell{
  width:20px;
  height:20px;
  outline: 1px solid black;
/*  border-color: black;
  border-style: solid;*/
/*  float: left;*/
/*  border-width: 1px;*/
}

.cell-empty{
  width:20px;
  height:20px;
  outline: none;
/*  border-color: black;
  border-style: solid;*/
/*  float: left;*/
/*  border-width: 1px;*/
}

.live-cell {
  background: green; !important
}
