#board {
/*  outline: 1px solid black;*/
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
/*  border-color: black;
  border-style: solid;
  border-width: 1px;*/
}

.row {
/*  width:286px;*/
  height:20px;
/*  outline: 1px solid black;*/
  display: flex;
  max-width: 260px;  
/*  border-color: black;
  border-style: solid;
  border-width: 1px;*/
/*  float: left;*/
}

.row-empty {
  height:20px;
  outline: none;
  display: flex;
  max-width: 260px;  
}

.cell {
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 1px;
    vertical-align: top;
  }

.cell-empty{
  width:20px;
  height:20px;
  outline: none;
/*  border-color: black;
  border-style: solid;*/
/*  float: left;*/
/*  border-width: 1px;*/
}

/*.live-cell {
  background: green; !important
}*/

.cyan {
  background: #00ffff; !important
}

.blue {
  background: #3366ff; !important
}

.orange {
  background: #ff9933; !important
}

.yellow {
  background: #ffff66; !important
}

.green {
  background: #66ff33; !important
}

.purple {
  background: #cc66ff; !important
}

.red {
  background: #ff5050; !important
}
